@{
}

@model CrashViewModel

<h1>Accident Summary Page</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr class="table-info text-center">
            <td>Crash Time</td>
            <td>Route</td>
            <td>Main Road</td>
            <td>City</td>
            <td>County Name</td>
            <td>Crash Severity</td>
            

        </tr>
    </thead>
    <tbody>
        @foreach (Crash c in Model.Crashes)
        {
            <tr>
                <td>@c.crash_datetime</td>
                <td>@c.route</td>
                <td>@c.milepoint</td>
                <td>@c.lat_utm_y</td>
                <td>@c.long_utm_x</td>
                <td>@c.main_road</td>
                <td>@c.city</td>
                <td>@c.county_name</td>
                <td>@c.crash_severity_id</td>
                <td>@c.work_zone_related</td>
                <td>@c.pedestrian_involved</td>
                <td>@c.bicyclist_involved</td>
                <td>@c.motorcycle_involved</td>
                <td>@c.improper_restraint</td>
                <td>@c.unrestrained</td>
                <td>@c.dui</td>
                <td>@c.intersection_related</td>
                <td>@c.wild_animal_related</td>
                <td>@c.domestic_animal_related</td>
                <td>@c.overturn_rollover</td>
                <td>@c.commercial_motor_veh_involved</td>
                <td>@c.teenage_driver_involved</td>
                <td>@c.older_driver_involved</td>
                <td>@c.night_dark_condition</td>
                <td>@c.single_vehicle</td>
                <td>@c.distracted_driving</td>
                <td>@c.drowsy_driving</td>
                <td>@c.roadway_departure</td>
                @*<td><a asp-action="Edit" asp-controller="Home" asp-route-id="@b.BowlerID">Edit</a></td>
                    <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@b.BowlerID">Delete</a></td>*@
            </tr>
        }
    </tbody>
</table>

<div>
    Page @ViewBag.pageNumber of @ViewBag.numPages
</div>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group me-2" role="group" aria-label="First group" page-model="@Model.PageInfo" page-action="AccidentSummary">
    </div>
</div>

<br />