@page "/admin/accidents"
@page "/admin"
@inherits OwningComponentBase<ICrashRepository>

<h3>Accidents</h3>

<table class="table table-sm table-hover table-bordered">

    <thead>
        <tr>
            <th>Crash Time</th>
            <th>Route</th>
            <th>Milepoint</th>
        </tr>
    </thead>

    <tbody>

        @if (CrashData?.Count() > 0)
        {
            //List Books
            @foreach (Crash c in CrashData)
            {
                <tr>
         
                    <td>@c.crash_datetime</td>
                    <td>@c.route</td>
                    <td>@c.milepoint</td>

                    <td>
                        <NavLink class="btn btn-outline-success btn-sm" href="@GetEditUrl(c.crash_id)">Edit</NavLink>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger btn-sm" @onclick="@(x => DeleteCrash(c))">Delete</button>
                        <asp:ButtonColumn ButtonType="LinkedButton" CommandName="Select" Text="Select" ItemStyle-HorizontalAlign="Center"></asp:ButtonColumn>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Accidents</td>
            </tr>
        }

    </tbody>

</table>

@code {

    public ICrashRepository repo => Service;

    public IEnumerable<Crash> CrashData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        CrashData = await repo.Crashes
            .Where(c => c.milepoint == 75)
            .Take(100) //So the machine survives
            .ToListAsync();
    }

    public string GetEditUrl(int id) => $"/admin/accidents/edit/{id}";

    public async Task DeleteCrash(Crash c)
    {
        repo.DeleteCrash(c);
        await UpdateData();
    }

}
