@page "/admin/accidents"
@page "/admin"
@inherits OwningComponentBase<ICrashRepository>

<h3>Accidents</h3>

<table class="table table-sm table-hover table-bordered">

    <thead>
        <tr>
            <th>Crash Time</th>
            <th>Route</th>
            <th>Main Road</th>
            <th>City</th>
            <th>County Name</th>
            <th>Crash Severity</th>
        </tr>
    </thead>

    <tbody>

        @if (CrashData?.Count() > 0)
        {
            //List Books
            @foreach (Crash c in CrashData)
            {
                <tr>

                    <td>@c.crash_datetime</td>
                    <td>@c.route</td>
                    <td>@c.main_road</td>
                    <td>@c.city</td>
                    <td>@c.county_name</td>
                    <td>@c.crash_severity_id</td>

                    <td>
                        <NavLink class="btn btn-outline-primary btn-sm" href="@GetDetailsUrl(c.crash_id)">Details</NavLink>
                    </td>
                    <td>
                        <NavLink class="btn btn-outline-success btn-sm" href="@GetEditUrl(c.crash_id)">Edit</NavLink>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger btn-sm" @onclick="@(x => DeleteCrash(c))">Delete</button>
                        <asp:ButtonColumn ButtonType="LinkedButton" CommandName="Select" Text="Select" ItemStyle-HorizontalAlign="Center"></asp:ButtonColumn>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Accidents</td>
            </tr>
        }

    </tbody>

</table>

@*pagination*@


<br />

@code {

    //before pagination

    public ICrashRepository repo => Service;

    public IEnumerable<Crash> CrashData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        CrashData = await repo.Crashes
            //.Where(c => c.milepoint == 75)
            .Take(100) //So the machine survives
            .ToListAsync();
    }

    public string GetDetailsUrl(int id) => $"/admin/accidents/details/{id}";
    public string GetEditUrl(int id) => $"/admin/accidents/edit/{id}";

    public async Task DeleteCrash(Crash c)
    {
        repo.DeleteCrash(c);
        await UpdateData();
    }

    //  pagination
}
