@page "/admin"
@inherits OwningComponentBase<ICrashRepository>

<div class="container col-11">
    <div class="row p-2">

        <div class="col-8">

            <div class="d-grid gap-2">
                <h3>Accidents</h3>
            </div>

        </div>
        <div class="col-4">

            <div class="d-grid gap-2">
                <NavLink class="btn btn-outline-primary" href="/admin/create">Create New Record</NavLink>
            </div>

        </div>



        <table class="table table-sm table-hover table-bordered">

            <thead>
                <tr class="bg-red2 text-center">
                    <th>Crash Time</th>
                    <th>Route</th>
                    <th>Main Road</th>
                    <th>City</th>
                    <th>County Name</th>
                    <th>Crash Severity</th>
                    <th>Options</th>
                </tr>
            </thead>

            <tbody>

                @if (CrashData?.Count() > 0)
                {
                    //List Books
                    @foreach (Crash c in CrashData)
                    {
                        <tr>

                            <td>@c.crash_datetime</td>
                            <td>@c.route</td>
                            <td>@c.main_road</td>
                            <td>@c.city</td>
                            <td>@c.county_name</td>
                            <td>@c.crash_severity_id</td>

                            <td>
                                <NavLink class="btn btn-outline-primary btn-sm" href="@GetDetailsUrl(c.crash_id)">Details</NavLink>
                                <NavLink class="btn btn-outline-success btn-sm" href="@GetEditUrl(c.crash_id)">Edit</NavLink>
                                <NavLink class="btn btn-outline-danger btn-sm" href="@GetDeleteUrl(c.crash_id)">Delete</NavLink>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No Accidents</td>
                    </tr>
                }

            </tbody>

        </table>

    </div>
</div>
@*pagination*@

@*@for(int p = 1; p<= CrashData?.Count() / pageSize ; p++) {
<button type="button" class="btn btn-outline-secondary" @onclick="(e=>HandleChangePage(p))">@p</button>
}*@

<br />

@code {

    //before pagination

    public ICrashRepository repo => Service;

    public IEnumerable<Crash> CrashData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        CrashData = await repo.Crashes
            .Where(c => c.crash_id > 11310000)
            .OrderByDescending(c => c.crash_id)
            //.Take(100) //So the machine survives
            .ToListAsync();
    }

    public string GetDetailsUrl(int id) => $"/admin/details/{id}";
    public string GetEditUrl(int id) => $"/admin/edit/{id}";
    public string GetDeleteUrl(int id) => $"/admin/delete/{id}";

    //  pagination
    //private int pageSize = 10;
    //private int pageNumber = 1;

    //public async Task UpdateData(int accidentFilter, int pageNum = 1)
    //{
    //    int pageSize = 20;

    //    ViewBag.pageNumber = pageNum;
    //    ViewBag.numPages = (int)Math.Ceiling((double)repo.Crashes.Count() / pageSize);

    //    var x = new CrashViewModel
    //    {
    //        Crashes = repo.Crashes
    //            .Where(c => c.crash_severity_id == accidentFilter || accidentFilter == 0)
    //            .Skip((pageNum - 1) * pageSize)
    //            .Take(pageSize),

    //        PageInfo = new PageInfo
    //        {
    //            TotalNumCrashes = (accidentFilter == 0 ? repo.Crashes.Count() : repo.Crashes.Where(c => c.crash_severity_id == accidentFilter).Count()),
    //            CrashesPerPage = pageSize,
    //            CurrentPage = pageNum,

    //        }
    //    };
    //}

    //private int pageSize = 20;
    //private int pageNumber = 1;

    //void HandleChangePage(int p)
    //{
    //    pageNumber = p;
    //    var page = CrashData.Skip((p - 1) * pageSize).Take(pageSize);
    //}

}
