@page "/admin/details/{id:int}"

<div class="container col-8">
    <div class="card">
        <h3 class="bg-admin2 text-center p-1 card-header">Accident Details</h3>

        <table class="table table-sm table-hover table-bordered">
            <tbody>
                <tr><th>Crash ID:</th><td>@c.crash_id</td></tr>
                <tr><th>Crash Time:</th><td>@c.crash_datetime</td></tr>
                <tr><th>Route:</th><td>@c.route</td></tr>
                <tr><th>Milepoint:</th><td>@c.milepoint</td></tr>
                <tr><th>Lattitude:</th><td>@c.lat_utm_y</td></tr>
                <tr><th>Longitude:</th><td>@c.long_utm_x</td></tr>
                <tr><th>Main Road:</th><td>@c.main_road</td></tr>
                <tr><th>City:</th><td>@c.city</td></tr>
                <tr><th>County Name:</th><td>@c.county_name</td></tr>
                <tr><th>Crash Severity:</th><td>@c.crash_severity_id</td></tr>
                <tr>
                    <th>Work Zone Related:</th>
                    @if (@c.work_zone_related == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }

                </tr>
                <tr>
                    <th>Pedestrian Involved:</th>
                    @if (@c.pedestrian_involved == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Bicyclist Involved:</th>
                    @if (@c.bicyclist_involved == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Motorcycle Involved:</th>
                    @if (@c.motorcycle_involved == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Improper Restraint:</th>
                    @if (@c.improper_restraint == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Unrestrained:</th>
                    @if (@c.unrestrained == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>DUI:</th>
                    @if (@c.dui == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Intersection Related:</th>
                    @if (@c.intersection_related == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Wild Animal Related:</th>
                    @if (@c.wild_animal_related == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Domestic Animal Related:</th>
                    @if (@c.domestic_animal_related == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Overturn Rollover:</th>
                    @if (@c.overturn_rollover == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Commercial Motor Vehicle Involved:</th>
                    @if (@c.commercial_motor_veh_involved == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Teenage Driver Involved:</th>
                    @if (@c.teenage_driver_involved == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Older Driver Involved:</th>
                    @if (@c.older_driver_involved == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Night/Dark Condition:</th>
                    @if (@c.night_dark_condition == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Single Vehicle:</th>
                    @if (@c.single_vehicle == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Distracted Driving:</th>
                    @if (@c.distracted_driving == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Drowsy Driving:</th>
                    @if (@c.drowsy_driving == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
                <tr>
                    <th>Roadway Departure:</th>
                    @if (@c.roadway_departure == 1)
                    {
                        <td>True</td>
                    }
                    else
                    {
                        <td>False</td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    <NavLink class="btn btn-outline-success" href="@EditUrl">Edit</NavLink>
    <NavLink class="btn btn-outline-danger" href="/admin">Back</NavLink>
</div>

@code {

    [Inject]
    public ICrashRepository repo { get; set; }

    [Parameter]
    public int Id { get; set; }

    public Crash c { get; set; }

    protected override void OnParametersSet()
    {
        c = repo.Crashes.FirstOrDefault(x => x.crash_id == Id);
    }

    public string EditUrl => $"/admin/edit/{c.crash_id}";

}
