@page "/admin/details/{id:int}"

<div class="container col-8">
    <div class="card">
        <h3 class="bg-admin2 text-center p-1 card-header">Accident Details</h3>

        <table class="table table-sm table-hover table-bordered">
            <tbody>
                <tr><th>Crash ID:</th><td>@c.crash_id</td></tr>
                <tr><th>Crash Time:</th><td>@c.crash_datetime</td></tr>
                <tr><th>Route:</th><td>@c.route</td></tr>
                <tr><th>Milepoint:</th><td>@c.milepoint</td></tr>
                <tr><th>Lattitude:</th><td>@c.lat_utm_y</td></tr>
                <tr><th>Longitude:</th><td>@c.long_utm_x</td></tr>
                <tr><th>Main Road:</th><td>@c.main_road</td></tr>
                <tr><th>City:</th><td>@c.city</td></tr>
                <tr><th>County Name:</th><td>@c.county_name</td></tr>
                <tr><th>Crash Severity:</th><td>@c.crash_severity_id</td></tr>
                <tr><th>Work Zone Related:</th><td>@c.work_zone_related</td></tr>
                <tr><th>Pedestrian Involved:</th><td>@c.pedestrian_involved</td></tr>
                <tr><th>Bicyclist Involved:</th><td>@c.bicyclist_involved</td></tr>
                <tr><th>Motorcycle Involved:</th><td>@c.motorcycle_involved</td></tr>
                <tr><th>Improper Restraint:</th><td>@c.improper_restraint</td></tr>
                <tr><th>Unrestrained:</th><td>@c.unrestrained</td></tr>
                <tr><th>DUI:</th><td>@c.dui</td></tr>
                <tr><th>Intersection Related:</th><td>@c.intersection_related</td></tr>
                <tr><th>Wild Animal Related:</th><td>@c.wild_animal_related</td></tr>
                <tr><th>Domestic Animal Related:</th><td>@c.domestic_animal_related</td></tr>
                <tr><th>Overturn Rollover:</th><td>@c.overturn_rollover</td></tr>
                <tr><th>Commercial Motor Vehicle Involved:</th><td>@c.commercial_motor_veh_involved</td></tr>
                <tr><th>Teenage Driver Involved:</th><td>@c.teenage_driver_involved</td></tr>
                <tr><th>Older Driver Involved:</th><td>@c.older_driver_involved</td></tr>
                <tr><th>Night/Dark Condition:</th><td>@c.night_dark_condition</td></tr>
                <tr><th>Single Vehicle:</th><td>@c.single_vehicle</td></tr>
                <tr><th>Distracted Driving:</th><td>@c.distracted_driving</td></tr>
                <tr><th>Drowsy Driving:</th><td>@c.drowsy_driving</td></tr>
                <tr><th>Roadway Departure:</th><td>@c.roadway_departure</td></tr>
            </tbody>
        </table>
    </div>
    <NavLink class="btn btn-outline-success" href="@EditUrl">Edit</NavLink>
    <NavLink class="btn btn-outline-danger" href="/admin">Back</NavLink>
</div>

@code {

    [Inject]
    public ICrashRepository repo { get; set; }

    [Parameter]
    public int Id { get; set; }

    public Crash c { get; set; }

    protected override void OnParametersSet()
    {
        c = repo.Crashes.FirstOrDefault(x => x.crash_id == Id);
    }

    public string EditUrl => $"/admin/edit/{c.crash_id}";

}
